@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #A1A1AA;
    --tertiary-color: #FFF;
    --border-color: #272729;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* div{
    border: 1px solid red;
} */

.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('img/d11.svg');
    background-repeat: repeat;
    background-position: center;
    opacity: 0.07;
    z-index: -1;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    z-index: 100;
}

.loading-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('img/d11.svg');
    background-repeat: repeat;
    background-position: center;
    opacity: 0.07;
}

.loading-container #spinner {
    z-index: 1;
    color: var(--secondary-color);
}

.loading-container.close{
    opacity: 0;
    transition: 0.5s;
}

.loading-container.close #spinner{
    opacity: 0;
    transition: 0.25s;
}

.cursor{
    position: absolute;
    top: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;
    z-index: 200;

    height: 0.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}

.cursor:active{
    transform: scale(2);
}

.sec{
    width: 100%;
    height: 100vh;
    padding: 0 3rem;
}

/** Landing Screen */

.sec01 {
    padding-top: 2.5rem;
}

.sec01 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    font-size: 1rem;
}

.sec01 .header .name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
}

.sec01 .header img {
    width: 1rem;
    height: 1rem;
    opacity: 0.9;
    display: none;
}

.sec01 .header .menu {
    display: flex;
    gap: 1rem;
}

.sec01 .header .name,
.sec01 .header .menu .menu-item {
    transition: color 0.25s ease-in-out;
}

.sec01 .header .name:hover,
.sec01 .header .menu .menu-item:hover{
    color: var(--tertiary-color);
}

.sec01 .header .mobile-btn {
    display: none;
}

.sec01 .header .mobile {
    display: none;
}

.sec01 .div01 {
    margin-top: 2rem;
    font-size: 2rem;
}

.sec01 .div01 h1{
    font-weight: 200;
}

.sec01 .div02{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

}

.sec01 .div02 .div02-item{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.25s ease-in-out;
}

.sec01 .div02 .div02-item:hover{
    color: var(--tertiary-color);
}