@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #A1A1AA;
    --tertiary-color: #A1A1AA;
    --hover-color: #FFF;
    --border-color: #272729;


    --color-000: #000;
    --color-001: #fff;

    --color-002: #1A3636;
    --color-003: #E5C9C8;
}

.none, #none{
    display: none !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: var(--color-001) !important;
    /* color: #E5C9C8 !important; */
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #1A3636;
    /* background-color: var(--color-000); */
}

.border{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/d11.svg');
    background-repeat: repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    display: none;
}

.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1A3636;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    z-index: 200;
}

.loading-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('img/d11.svg');
    background-repeat: repeat;
    background-position: center;
    opacity: 0.09;
}

.loading-container #spinner {
    z-index: 1;
    color: var(--color-001);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-container.close{
    opacity: 0;
    transition: 0.5s;
}

.loading-container.close #spinner{
    opacity: 0;
    transition: 0.25s;
}

/** cursor */
.cursor {
    position: fixed;
    height: 3.5rem;
    aspect-ratio: 1;
    border: 2px solid var(--color-001);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transition: width 0.25s, height 0.25s, background-color 0.25s, border-color 0.25s;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    opacity: 0;
}

.cursor.hover {
    height: 5rem;
    background-color: var(--color-001);
    border-color: transparent;
}

/** general  */
.sec{
    width: 100%;
    height: 100vh;
    padding: 2.5rem 3rem;
}

/** Square  */

.square {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  width: 35%;
  aspect-ratio: 1;
  border: 1px solid var(--color-001);
  border-radius: 50%;
  overflow: hidden;
  animation: rotate 25s infinite linear;
  opacity: 0.3;
}

@keyframes rotate {
  from {
    transform: translate(0%, 50%) rotate(0deg);
  }
  to {
    transform: translate(0%, 50%) rotate(360deg);
  }
}

@keyframes counter-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.square::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/d11.svg');
  background-repeat: repeat;
  background-position: center;
  z-index: 1;
  animation: counter-rotate 25s infinite linear;
}

.square::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1A3636;
  border-top: 1px solid var(--color-001);
  z-index: 2;
}

/** header */


.sec01{
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 2.5rem;
    flex: 0 1 auto;

}

.header .name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu {
    display: flex;
    gap: 1rem;
}

.header .name,
.header .menu .menu-item {
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
    /* opacity: 0.8; */
}

/* .header .name:hover,
.header .menu .menu-item:hover{
    color: var(--color-001);
    opacity: 1;
} */

.content{
    font-size: 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 1 1 auto;
    padding-top: 12%;
    color: var(--color-001);
    transition: opacity 0.25s ease-in-out;
}

.div01 h1{
    font-weight: 300;
    line-height: 4.25rem;
}

.div01 .about-p{
    font-weight: 200;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-top: 0.25rem;
}

.div02{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;

}

.div02 .div02-item{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-001);
    transition: opacity 0.25s ease-in-out;
}

/* .div02 .div02-item:hover{
    opacity: 1;
} */

.down{
    position: absolute;
    left: 4rem;
    bottom: 3rem;
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
    animation: down 2.5s ease-in-out infinite;
}

@keyframes down {
    0%{
        transform: translateX(-50%) translateY(0);
    }
    50%{
        transform: translateX(-50%) translateY(0.5rem);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.v{
    position: relative;
    height: 100%;
    width: 100%;
}

.v::before,
.v::after {
    content: '';
    position: absolute;
    bottom: 0.7rem;
    width: 16px;
    height: 3.5px;
    background-color: var(--color-001);
    transition: background-color 0.25s ease-in-out;
}

.v::before {
    left: 0;
    transform-origin: right center;
    transform: rotate(45deg);
    border-radius: 2px 0 2px 2px;
}

.v::after {
    right: 0;
    transform-origin: left center;
    transform: rotate(-45deg);
    border-radius: 0 2px 2px 2px;
}

.down:hover > .v::before,
.down:hover > .v::after {
    /* background-color: var(--hover-color); */
}

a {
  all: unset;
}


/** sec02  */
.sec02{
    padding: 2.5rem 3rem;
}


/** Mobile */

.header .mobile-btn {
    display: none;
}

.sec01 .header .mobile {
    display: none;
}