@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #A1A1AA;
    --tertiary-color: #A1A1AA;
    --hover-color: #FFF;
    --border-color: #272729;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    /* cursor: default; */
}

body{
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    color: var(--secondary-color);
}

/* div{
    border: 1px solid rgba(255, 0, 0, 0.5);
} */

.wrapper{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('img/d11.svg');
    background-repeat: repeat;
    background-position: center;
    opacity: 0.07;
    z-index: -1;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    z-index: 200;
}

.loading-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('img/d11.svg');
    background-repeat: repeat;
    background-position: center;
    opacity: 0.07;
}

.loading-container #spinner {
    z-index: 1;
    color: var(--secondary-color);
}

.loading-container.close{
    opacity: 0;
    transition: 0.5s;
}

.loading-container.close #spinner{
    opacity: 0;
    transition: 0.25s;
}

.cursor{
    position: absolute;
    top: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;
    z-index: 100;
    height: 0.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0.75;
}

.cursor:active{
    transform: scale(2);
}

.sec{
    width: 100%;
    height: 100vh;
    padding: 0 3rem;
}

/** header */
.sec01{
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 300;
    font-size: 1rem;
    padding: 2.5rem 0;
    flex: 0 1 auto;

}

.header .name{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .menu {
    display: flex;
    gap: 1rem;
}

.header .name,
.header .menu .menu-item {
    /* cursor: pointer; */
    transition: color 0.25s ease-in-out;
}

.header .name:hover,
.header .menu .menu-item:hover{
    color: var(--hover-color);
}

.content{
    font-size: 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    flex: 1 1 auto;
    padding-top: 12%;
    color: var(--tertiary-color);
}

.div01 h1{
    font-weight: 300;
    line-height: 4.25rem;
}

.div01 .about-p{
    font-weight: 200;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-top: 0.25rem;
}

.div02{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;

}

.div02 .div02-item{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: color 0.25s ease-in-out;
    /* cursor: pointer; */
    font-size: 1rem;
    font-weight: 300;
    color: var(--secondary-color);
}

.div02 .div02-item:hover{
    color: var(--hover-color);
}

.down{
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    width: 30px;
    aspect-ratio: 1;
    /* cursor: pointer; */
    animation: down 2.5s ease-in-out infinite;
}

@keyframes down {
    0%{
        transform: translateX(-50%) translateY(0);
    }
    50%{
        transform: translateX(-50%) translateY(0.5rem);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.v{
    position: relative;
    height: 100%;
    width: 100%;
}

.v::before,
.v::after {
    content: '';
    position: absolute;
    bottom: 0.7rem;
    width: 16px;
    height: 3.5px;
    background-color: var(--secondary-color);
    transition: background-color 0.25s ease-in-out;
}

.v::before {
    left: 0;
    transform-origin: right center;
    transform: rotate(45deg);
    border-radius: 2px 0 2px 2px;
}

.v::after {
    right: 0;
    transform-origin: left center;
    transform: rotate(-45deg);
    border-radius: 0 2px 2px 2px;
}

.down:hover > .v::before,
.down:hover > .v::after {
    background-color: var(--hover-color);
}

a {
  all: unset;
}


/** Mobile */

.header .mobile-btn {
    display: none;
}

.sec01 .header .mobile {
    display: none;
}